<footer>
    <hr>
    CST336. 2019&copy; Thien <br />
    <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br />
    It used for academic purposes only.
    <figure>
        <img src="/img/CSUMB_Logo.jpg" alt="CSUMB logo" />
    </figure>
</footer>
</body>
</html>