<% include partials/header.ejs %>

<header>
    <h1>Sarah Katharina Thien</h1>
</header>
<nav>
    <hr width="50%" />
    <a href="/index">Home</a>
    <a id="about" href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/joke">Contact</a>
</nav>

<br /><br />

<div id="content">
    <table>
        <tr id="table-header">
            <td><strong>Programming Language</strong></td>
            <td><strong>Years Experience</strong></td>
        </tr>
        <tr class="table-row">
            <td>Java</td>
            <td>3</td>
        </tr>
        <tr class="table-row">
            <td>C++</td>
            <td>2</td>
        </tr>
        <tr class="table-row">
            <td>PHP</td>
            <td>1</td>
        </tr>
    </table>
</div>

<ul>
    <li><span class="hobby">Video games</span>: I own four consoles and like all kind of games but my favourite is The Legend of Zelda</li>
    <li><span class="hobby"> Soccer</span>: I am part of a team and we play every Saturday. I'm the goalie</li>
    <li><span class="hobby">Music</span>: I love all kind of music but my favorite is R&B and Pop.</li>
    <li><span class="hobby">Programming</span>: I spend at least two hours every day using an d learning programming languages</li>
</ul>

<% include partials/footer.ejs %>