<% include partials/header.ejs %>

<header>
    <h1>Sarah Katharina Thien</h1>
</header>
<nav>
    <hr width="50%" />
    <a href="/index">Home</a>
    <a href="/about">About</a>
    <a id="contact" href="/contact">Contact</a>
</nav>

<br /><br />

<div id="content">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScUUTmBqznqUrqhtL0z7m_1S0pJ4ulndC7I94p2xKmwAO76lA/viewform?embedded=true" width="640" height="1017" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

<% include partials/footer.ejs %>