<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Sarah Katharina Thien: Personal Website</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>Sarah Katharina Thien</h1>
</header>
<nav>
    <hr width="50%" />
    <a id="home" href="index.html">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</nav>

<br /><br />

<main>

    <figure id="me">
        <img src="/img/IMG_4364_S.JPG" alt="Picture of Sarah Katharina Thien" />
    </figure>

    <div id="welcomeText">
        Hello! <br />
        <p>Thank you for visiting my professional portfolio website.</p>
        <p>I am a third year Computer Science major<br />currently studying abroad for one semester at California State
            University Monterey Bay.</p>
        <p>Feel free to contact me!</p>

        <br /><br />

        <em>
            "You have to set goals that are almost out of reach.<br />If you set a goal that is attainable without much
            work or thought, <br />you are stuck with something below <strong>your true talent and potential</strong>."</em><br />
        - Steve Garvey
    </div>
</main>

<footer>
    <hr>
    CST336. 2019&copy; Thien <br />
    <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br />
    It used for academic purposes only.
    <figure>
        <img src="/img/CSUMB_Logo.jpg" alt="CSUMB logo" />
    </figure>
</footer>
</body>
</html>