<% include partials/header.ejs %>

<header>
    <h1>Sarah Katharina Thien</h1>
</header>
<nav>
    <hr width="50%" />
    <a id="home" href="index.html">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a id="randomjoke" href="/joke">Joke</a>
</nav>

<br /><br />
<div id="joke">

</div>
<br><br>
<button id="btn" class="btn btn-outline-primary">Click for a random knock-knock joke</button>

<script>
    const randomJoke = require('./module');
    $('#randomjoke').html(randomJoke.joke());
</script>

<% include partials/footer.ejs %>